@font-face {
  font-family: "iconfont"; /* Project id 4479760 */
  src: url('iconfont.woff2?t=1718554652942') format('woff2'),
       url('iconfont.woff?t=1718554652942') format('woff'),
       url('iconfont.ttf?t=1718554652942') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiagejiangxu:before {
  content: "\e620";
}

.icon-jiageshengxu:before {
  content: "\e621";
}

.icon-fenlei1:before {
  content: "\e611";
}

.icon-jiagepaixu:before {
  content: "\e613";
}

.icon-jiagepaixu1:before {
  content: "\e61e";
}

.icon-jiagepaixu2:before {
  content: "\e600";
}

.icon-qiehuanpailiefangshi:before {
  content: "\e638";
}

.icon-dingdan1:before {
  content: "\e645";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-dingwei:before {
  content: "\e608";
}

.icon-dingdan:before {
  content: "\e630";
}

.icon-gengduo1:before {
  content: "\e612";
}

.icon-shouye1:before {
  content: "\e604";
}

.icon-tubiaozhizuomoban_sousuo:before {
  content: "\e60c";
}

.icon-gouwuchebeifen:before {
  content: "\e60f";
}

.icon-bofang:before {
  content: "\e606";
}

.icon-zanting:before {
  content: "\e668";
}

.icon-24gf-playlistHeart2:before {
  content: "\ea84";
}

.icon-shangyiqumian:before {
  content: "\e635";
}

.icon-xiayiqumian:before {
  content: "\e636";
}

.icon-danqu:before {
  content: "\e69a";
}

.icon-random-full:before {
  content: "\ea7c";
}

.icon-shunxu_shunxu_:before {
  content: "\e6aa";
}

.icon-gengduo:before {
  content: "\e610";
}

.icon-xiaoyuhao:before {
  content: "\e67d";
}

.icon-chakangengduo:before {
  content: "\e679";
}

.icon-naozhong:before {
  content: "\e64e";
}

.icon-icon_soushuo_m:before {
  content: "\e60b";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-gouwuche:before {
  content: "\e62c";
}

.icon-xunmiquan:before {
  content: "\e667";
}

.icon-shouye:before {
  content: "\e603";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e634";
}

.icon-sousuo:before {
  content: "\e624";
}

.icon-saoyisao:before {
  content: "\e891";
}

